<div class="page-container">
  <app-toolbar></app-toolbar>

    <div class="container">
      <div class="tile">
          <img src="/assets/buch1.jpeg" alt="Left Image" class="main-image">
      </div>
      <div class="image-container">
          <img src="/assets/book-composition-with-open-book.jpg" alt="Online Shop" class="main-image">
          <div class="overlay-text">Books: Your Passport to Another World</div>
          <button class="shop-button" (click)="goShop()">Shop Now</button>
      </div>
      <div class="tile">
          <img src="/assets/buch2.jpeg" alt="Right Image" class="main-image">
      </div>
  </div>
</div>