<div class="page-container">
  <app-toolbar></app-toolbar>

    <div class="container">
      <div class="tile">
          <img src="/assets/buch1.jpeg" alt="Left Image" class="main-image">
      </div>
      <div class="image-container">
          <img src="/assets/book-composition-with-open-book.jpg" alt="Online Shop" class="main-image">
          <div class="overlay-text">Books: Your Passport to Another World</div>
          <button class="shop-button" (click)="goShop()">Shop Now</button>
      </div>
      <div class="tile">
          <img src="/assets/buch2.jpeg" alt="Right Image" class="main-image">
      </div>
  </div>

  <div class="highlighted-container mat-elevation-z3">
    <h2>Discover the Magic of Books</h2>
    <p>Books are more than just pages bound together—they are gateways to new worlds, endless adventures, and profound wisdom. Whether you're seeking an escape, knowledge, or inspiration, books have the unique power to transform your perspective and enrich your life. At our online bookshop, we celebrate the timeless charm of books and invite you to explore the countless treasures they hold.</p>
    <p>From gripping novels that keep you on the edge of your seat to thought-provoking non-fiction that challenges your mind, books cater to every taste and interest. They are companions in solitude, teachers in times of curiosity, and sources of comfort when life feels overwhelming. With every turn of the page, you embark on a journey that is uniquely yours, yet shared by countless readers around the world.</p>
    <p>Books also have the incredible ability to connect us. They spark conversations, build communities, and bridge cultures. Whether it's a classic that has stood the test of time or a contemporary bestseller that everyone is talking about, books bring people together in ways that few other things can.</p>
    <p>In our fast-paced, digital world, books offer a moment of pause—a chance to unplug, reflect, and immerse yourself in a story or idea. They remind us of the beauty of slowing down and savoring the written word. And with our carefully curated selection, finding your next favorite read has never been easier.</p>
    <p>So, whether you're a lifelong book lover or just beginning to explore the joy of reading, our online bookshop is here to help you discover the perfect book. Dive into a world of imagination, knowledge, and inspiration. After all, life is better with books.</p>
    <p>Start your next chapter today—explore our collection and let the magic of books unfold!</p>
  </div>
</div>