/* Standard Desktop-Layout */
.page-container {
    transform: scale(1);
    transform-origin: top;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 60px;
  }

.middle-image {
display: block;
margin-left: auto;
margin-right: auto;
height: 600px;
width: 600px;
}

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
    perspective: 1000px;
}

.tile {
    width: 250px;
    height: 350px;
    background: #ddd;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transform: rotateY(15deg);
    transition: transform 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tile:hover {
    transform: rotateY(5deg);
}

.image-container {
    position: relative;
    max-width: 800px;
    margin: 0 20px;
}

.main-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

.overlay-text {
    position: absolute;
    top: 10%;
    left: 10%;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.shop-button {
    position: absolute;
    bottom: 15%;
    left: 10%;
    background-color: rgb(179, 107, 48);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.shop-button:hover {
    background-color: #ee9542;
}

/* Anpassungen für Tablets */
@media (max-width: 768px) {
    .page-container {
        transform: scale(0.9); /* Skaliert den gesamten Container */
    }

    .toolbar-title {
        transform: translateX(0);
        font-size: 20px; /* Kleinere Schriftgröße für Tablets */
    }

    .toolbar-link {
        margin: 0 5px;
        font-size: 14px; /* Kleinere Schriftgröße für Tablets */
    }

    .centered-image {
        max-height: 50px;
    }

    button {
        font-size: 14px; /* Kleinere Schriftgröße für Buttons auf Tablets */
    }

    .main-image {
        width: 90%; /* Anpassung der Bildgröße für Tablets */
        height: auto;
    }
}

/* Anpassungen für Smartphones */
@media (max-width: 480px) {
    .page-container {
        transform: scale(0.8); /* Skaliert den gesamten Container */
    }

    .toolbar-title {
        transform: translateX(0);
        text-align: center;
        width: 100%;
        font-size: 18px; /* Kleinere Schriftgröße für Smartphones */
    }

    .toolbar-link {
        margin: 0 2px;
        font-size: 12px; /* Kleinere Schriftgröße für Smartphones */
    }

    .centered-image {
        max-height: 40px;
    }

    button {
        font-size: 12px; /* Kleinere Schriftgröße für Buttons auf Smartphones */
    }

    .main-image {
        width: 80%; /* Anpassung der Bildgröße für Smartphones */
        height: auto;
    }
}