.product-list {
  margin: 20px;
  position: relative;
}

.cart-button {
  position: absolute;
  right: 0;
  top: 1;
}

.matHeaderCellDef {
  position: sticky;
}

.mat-column-addToCart {
  width: 40px;
  max-width: 75px;
}