<app-toolbar
  title="Product List"
></app-toolbar>

<div class="product-list">
  <!-- Filter -->
  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applySearchFilter($event)"/>
  </mat-form-field>

  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Kategorie</mat-label>
    <mat-select (selectionChange)="applyCategoryFilter($event)">
      <mat-option *ngFor="let category of uniqueCategories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="product-grid">
    <mat-card class="product-tile" *ngFor="let product of filteredProducts" (click)="showDetails(product)">
      <mat-card-header>
        <mat-card-subtitle class="product-subtitle">{{ product.category_name }}</mat-card-subtitle>
        <mat-card-title class="product-title">{{ product.name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="content-container">
          <div class="mat-card-box">
            <img [src]="getSafeImageUrl(product.image)"/>
          </div>
          <div class="mat-card-box text-content">
            <p>{{ product.short_description }}</p>
            <div class="price-container">
              <span class="price">{{ product.price | currency:'EUR':'symbol':'1.2-2' }}</span>
              <button class="add-to-Cart" mat-icon-button (click)="addToCart(product); $event.stopPropagation()">
                <mat-icon>add_shopping_cart</mat-icon>
              </button>
            </div>
          </div>
          </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="filteredProducts.length == 0">
    <p>NO RESULTS</p>
  </div>
</div>
