<h1 mat-dialog-title>{{ isEditMode ? 'update product' : 'add new product' }}</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <div *ngIf="isEditMode">
      <p>Image</p>
      <img [src]="'http://127.0.0.1:8080'+data.product?.image" class="image-preview" />
    </div>

    <div *ngIf="!isEditMode">
      <div class="file-upload">
        <label for="image" class="file-label">
          <mat-icon>upload</mat-icon>
          upload image
        </label>
        <input
          id="image"
          type="file"
          accept="image/*"
          (change)="onFileSelected($event)"
          hidden
        />
      </div>
      <div *ngIf="uploadedImage">
        <p>Image</p>
        <img [src]="uploadedImage" class="image-preview" />
      </div>
    </div>
    <pre>Wert: {{ productForm.get('image')?.value }}</pre>
    <pre>Fehler: {{ productForm.get('image')?.errors | json }}</pre>
    <pre>Valid?: {{ productForm.get('image')?.valid }}</pre>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Price</mat-label>
      <input matInput type="number" formControlName="price" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Short Description</mat-label>
      <textarea matInput formControlName="short_description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Long Description</mat-label>
      <textarea matInput formControlName="long_description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category_name">
        <mat-option *ngFor="let category of categories.data" [value]="category.name">
          {{ category.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Stock</mat-label>
      <input matInput type="number" formControlName="stock" />
    </mat-form-field>

  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="productForm.invalid">
    {{ isEditMode ? 'Save' : 'Add' }}
  </button>
</div>
