<h2 mat-dialog-title>Product details</h2>
<mat-dialog-content>
  <p><strong>Name:</strong> {{ data.name }}</p>
  <p><strong>Description:</strong> {{ data.long_description }}</p>
  <p><strong>Price:</strong> {{ data.price }}€</p>
  <p><strong>Category:</strong> {{ data.category_name }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-icon-button (click)="addToCart(data); $event.stopPropagation()">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
