.toolbar-title .centered-image,
.toolbar-title .title {
  cursor: pointer;
}

.toolbar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
}

.centered-image {
  height: 40px;
  margin-right: 150px;
}

.toolbar-link {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.toolbar-link::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: currentColor;
  transition: width 0.3s;
  bottom: -2px;
  left: 0;
}

.toolbar-link:hover::after {
  width: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .toolbar-title {
    flex-direction: column;
  }

  .centered-image {
    height: 30px;
    margin-right: 0;
    margin-bottom: 8px;
  }

  .toolbar-link {
    margin: 5px;
    font-size: 1rem;
  }
}