<mat-toolbar>
    <!--<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="onLeftIconClick()">
      <mat-icon>{{ leftIcon }}</mat-icon>
    </button>-->
    <a href="products" class="toolbar-link">NEW</a>
    <a href="products" class="toolbar-link">Trends</a>
    <a href="products" class="toolbar-link">Sale %</a>
    <div class="toolbar-title" (click)="navigateToHome()">
      <img src="/assets/online-shop.svg" alt="Online Shop" class="centered-image">
      <!--<h1 class="title">{{ title }}</h1>-->
    </div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with account icon" (click)="onRightIcon2Click()">
    <mat-icon>{{ rightIcon2 }}</mat-icon>
  </button>
  <button [matBadge]="getTotalQuantity()" [matBadgeHidden]="getTotalQuantity() === 0" matBadgeColor="warn"
  matBadgeOverlap="false" matBadgePosition="before"  mat-icon-button class="example-icon" aria-label="Example icon-button with shopping cart icon" (click)="onRightIcon1Click()">
    <mat-icon>{{ rightIcon1 }}</mat-icon>
  </button>
</mat-toolbar>
